/* Estilos generales de la página */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f0f4f8;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 40px; /* Ajuste del padding para controlar el espacio alrededor del logo */
    background-color: #f0f4f8;
}

.logo {
    width: 120px;    /* Ajusta el ancho a 120px */
    height: 48px;    /* Ajusta la altura a 48px */
    padding: 0;      /* Ajusta el padding si es necesario */
    margin-top: 40px;  /* Ajusta el margen superior a 40px */
    margin-left: 40px; /* Ajusta el margen izquierdo a 40px */
}

.contenedor {
    display: flex;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    max-width: 900px;
    margin-top: 20px;
}

.seccion-izquierda, .seccion-derecha {
    padding: 20px;
}

.seccion-izquierda {
    width: 60%;
    border-right: 1px solid #e0e0e0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #0A3871;
}

.seccion-derecha {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
}

textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
}

.nota {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}

.contenedor-botones {
    margin-top: 10px;
}

button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #0A3871;
    color: #ffffff;
    cursor: pointer; /*Cambia el cursor a una manito cuando paso sobre los botones*/
    font-size: 1rem;
}

button:last-child {
    background-color: #D8DFE8;
    margin-right: 0;
    color: #0A3871;
}

button:hover {
    opacity: 0.9;
}

.mensaje-no-encontrado {
    font-size: 2.5rem;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.ingresar-mensaje{
    font-size: 1rem;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

#boton-copiar {
    margin-top: 20px;
    padding: 10px 20px;
    border:#0A3871;
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
}

#boton-copiar:hover {
    opacity: 0.9;
}

.oculto {
    display: none;
}
